<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Politics</servlet-name>
        <servlet-class>Politics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>india</servlet-name>
        <servlet-class>india</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>world</servlet-name>
        <servlet-class>world</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buisness</servlet-name>
        <servlet-class>Buisness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreakingNews</servlet-name>
        <servlet-class>BreakingNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sports</servlet-name>
        <servlet-class>Sports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entertainment</servlet-name>
        <servlet-class>Entertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index_1</servlet-name>
        <servlet-class>index_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Politics</servlet-name>
        <url-pattern>/Politics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>india</servlet-name>
        <url-pattern>/india</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>world</servlet-name>
        <url-pattern>/world</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buisness</servlet-name>
        <url-pattern>/Buisness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreakingNews</servlet-name>
        <url-pattern>/BreakingNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sports</servlet-name>
        <url-pattern>/Sports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entertainment</servlet-name>
        <url-pattern>/Entertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index_1</servlet-name>
        <url-pattern>/index_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
